DB_HOST=
DB_IP=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

AWS_COGNITO_AUTHORITY=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
AWS_BEARER_TOKEN_BEDROCK=

JWT_SECRET=
JWT_EXPIRATION_TIME_IN_SECONDS=

SCAN_RECEIVER_URL_SUCCESS=
SCAN_RECEIVER_URL_FAILURE=

CONTAINER_REGION=
CONTAINER_CLUSTER=
CONTAINER_TASK_DEFINITION=
CONTAINER_SUBNET_1=
CONTAINER_SUBNET_2=
CONTAINER_SUBNET_3=
CONTAINER_SECGROUP_1=
CONTAINER_SECGROUP_2=
